RewriteEngine On
RewriteBase /programacion/PFC/App/

# Evitar bucles de redirección
RewriteCond %{THE_REQUEST} \ /index\.php\?uri=([^\s&]+) [NC]
RewriteRule ^index\.php$ %1? [R=301,L]

# Reescribir las URLs limpias para que sean procesadas por index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/index\.php$ [NC]
RewriteRule ^(.*)$ index.php?uri=$1 [L,QSA]
